p {
  font-family: 'Roboto' !important;
}
.avatar{
  width:100%
}
.centerize{
  color: lightcoral;
  font-size: medium;
  font-weight: bold;
}
#toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}
